<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <h1>Image Gallery</h1>



        Here are posts by {{poster_name}}:


<table width="200" border="1" class="table">
	<th>caption</th>
    <th>timestamp</th>
    <th>tag Accepted</th>
	<th>image</th>
    <th>FirstNameTagged</th>
	<th>LastNameTagged</th>


{% for image in images %}

	<tr>

		<td>{{image.caption}}</td>
        <td>{{image.timestamp}}</td>
        <td>{{image.allFollowers}}</td>
		<td><img src="/image/{{image.filePath}}" width="300"/></td>
{#        <td>{{images.fname}}</td>#}
{#		<td>{{images.lname}}</td>#}
        <td></td>
		<td></td>
	</tr>

{% endfor %}

</table>







